/authentication/__pycache__
/authentication/migrations
/user/__pycache__
/user/migrations
/faculty/__pycache__
/faculty/migrations
/committee/__pycache__
/committee/migrations
/hod/__pycache__
/hod/migrations
/request/__pycache__
/request/migrations
/request/viewrequests/__pycache__
/transaction/__pycache__
/transaction/migrations
/transaction/viewtransactions/__pycache__
/DDF/__pycache__
/uploads
/authentication/tests/__pycache__
/request/tests/__pycache__
/transaction/tests/__pycache__
