body {
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top,#b0e8f9,#c8e9f5,#d0f5f2,#e0efe3,#f9f9f8);
    background-repeat: repeat;
    background-size: 100% 100%;
  }
  
  .login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: #bbb6b6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  .login-title{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .email{
    margin-top: 15px;
  }

  .login_details{
    margin-bottom: 10px;
    width: 100%;
  }
  
  .login_details label {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .login_details input[type="email"],
  .login_details input[type="password"],
  .login_details input[type="text"]{
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
  }
  
  .login_details input:hover{
    border-radius: grey;
  }

  .login_forgot-Password a{
    font-size: 14px;
    text-decoration: none;
    margin-right: 150px;
    margin-bottom: 15px;
    color: #09288f
  }

  .login_forgot-Password a:hover{
    color: #1047fc;
  }
  
  .submit{
    padding: 10px 25px;
    background-image: linear-gradient(to right top,#40ebf2,#00d4ff,#00b5ff,#5c89ff,#dab0e3);
    border: 2px solid #1d201d;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-link a{
    display: flex;
    margin-top: 10px;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    color: #09288f
  }

  .signup-link a:hover{
    color: #1047fc;
  }

  .submit:hover{
    color: #d8e0f8;
  }
  