.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    /* top:150px;
    position: relative; */
  }

  
  
  .mainbody {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 500px;
    max-width: 100%;
    margin-bottom: 100px;
    top:150px;
    position:absolute;
  }
  
  .titl {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
    display: flex;
    justify-content: center;
  }
  
  .bod {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
  }
  
  .requesttype {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
    display: flex;
    justify-content: center;
  }
  
 
  .link {
    color: #2980b9;
    cursor: pointer;
  }
  
  .link:hover {
    color: #3498db;
  }

  .committee_title{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.committee_title label {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.committee_title input[type="text"]{
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #dddada;
}
.committee_approve {
    margin-top: 10px;
    background-color: #06fa2f;
    border: none;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #1d201d;
    margin-right: 10px;
    display:inline-block;
  }

  .committee_disapprove {
    display: inline-block;
    margin-top: 10px;
    background-color: #05a4ee;
    border: none;
    padding: 7px;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #1d201d;
    
  }
  